

.ion-padding{
  --ion-background-color: transparent; /* Asegura que el fondo de color sea transparente */
  background: url('/assets/arbool.png') no-repeat center center fixed; /* Ajusta la ruta de la imagen */
  background-size: cover;
}

#arbol{
  width: 330px;
  height: 280x;
}

.text-block{
  margin-top: 170px;
}

/* archivo.scss */

/* Establece el color del texto en negro para las etiquetas dentro del encabezado */
h1,p {
  color: rgb(0, 0, 0);
}


